<!DOCTYPE html>
<html>
  <head>
     <title></title>
    <meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/style.css"/>
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="js/jquery.min.js"></script>
	<!--script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script-->
	
  </head>
  <body>
    <div class="main-outer">
	     <nav class="navbar" role="navigation">
		   	   <div class="container container11">
			  <!-- Brand and toggle get grouped for better mobile display -->
			  <div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				  <span class="sr-only">Toggle navigation</span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img src="image/corporate/logo.png"></a>
			  </div>

			  <!-- Collect the nav links, forms, and other content for toggling -->
			  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<div class="col-sm-3 col-md-3">
					<form class="navbar-form" role="search">
					<div class="input-group input_group">
						<input type="text" class="form-control" placeholder="Search" name="q">
					</div>
					</form>
				</div>
				<ul class="nav navbar-nav">
				  <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i></a>
					<ul class="dropdown-menu">
					  <li><a href="#">Action</a></li>
					  <li><a href="#">Another action</a></li>
					  <li><a href="#">Something else here</a></li>
					  <li class="divider"></li>
					  <li><a href="#">Separated link</a></li>
					</ul>
				  </li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
				  <li><a href="#">Live Cams</a></li>
				  <li><a href="#">Awards</a></li>
				  <li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
				  <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
				  <li><a href="#">Get Credits</a></li>
				  <li class="Login"><a href="#">Login</a></li>
				  <li class="Sign_Up"><a href="#"> Sign Up</a></li>
				</ul>
			  </div><!-- /.navbar-collapse -->
			 </div><!---container div-->
			</nav>
	    
	  <!--  header sections end -->	
	 <div class="col-md-12 col-sm-12 profile_page content portfolio" id="menu-3">	
     <div class="container">
	   <div class="row row11">
        	<div class="col-md-12">
            	<h3 class="Gallery_tittle">Premium</h3>
            </div>
        </div>
        <div class="clear"></div>
        <div class="row templatemo_portfolio Premium_acc">
        	<div class="col-md-3 col-sm-12 test1">
            	<div class="gallery-item test1">
				             <img src="image/gallery/premium.png" class="premium">
							<img src="image/gallery/Premium5.jpg" alt="gallery 4" class="bg">
							<div class="thumb_data"><span class="title"><strong><i class="fa fa-camera-retro" aria-hidden="true"></i></strong> Profile pictures</span><br>
							<span class="subtitle">5 Photos</span></div>
						</div>
            </div>
            <div class="col-md-3 col-sm-12 test1">
            	<div class="gallery-item">
				            <img src="image/gallery/premium.png" class="premium">
							<img src="image/gallery/Premium1.jpg" alt="gallery 6" class="bg">
							<div class="thumb_data"><span class="title"><strong><i class="fa fa-camera-retro" aria-hidden="true"></i></strong> Profile pictures</span><br>
							<span class="subtitle">5 Photos</span></div>
						</div>
            </div>
			<div class="col-md-3 col-sm-12 test1">
            	<div class="gallery-item">
				            <img src="image/gallery/premium.png" class="premium">
							<img src="image/gallery/Premium2.jpg" alt="gallery 5" class="bg">
							<div class="thumb_data"><span class="title"><strong><i class="fa fa-camera-retro" aria-hidden="true"></i></strong> Profile pictures</span><br>
							<span class="subtitle">5 Photos</span></div>
						</div>
            </div>
			 <div class="col-md-3 col-sm-12 test1">
            	<div class="gallery-item">
				            <img src="image/gallery/premium.png" class="premium"> 
							<img src="image/gallery/Premium3.jpg" alt="gallery 7" class="bg">
							<div class="thumb_data"><span class="title"><strong><i class="fa fa-camera-retro" aria-hidden="true"></i></strong> Profile pictures</span><br>
							<span class="subtitle">5 Photos</span></div>
						</div>
            </div>
        </div>
		<div class="row templatemo_portfolio Premium_acc">
		     <div class="col-md-3 col-sm-12 test1">
            	<div class="gallery-item">
				            <img src="image/gallery/premium.png" class="premium">
							<img src="image/gallery/Premium4.jpg" alt="gallery 6" class="bg">
							<div class="thumb_data"><span class="title"><strong><i class="fa fa-camera-retro" aria-hidden="true"></i></strong> Profile pictures</span><br>
							<span class="subtitle">5 Photos</span></div>
						</div>
            </div>
            <div class="col-md-3 col-sm-12 test1">
            	<div class="gallery-item">
				            <img src="image/gallery/premium.png" class="premium"> 
							<img src="image/gallery/center-2.jpg" alt="gallery 7" class="bg">
							<div class="thumb_data"><span class="title"><strong><i class="fa fa-camera-retro" aria-hidden="true"></i></strong> Profile pictures</span><br>
							<span class="subtitle">5 Photos</span></div>
						</div>
            </div>
			<div class="col-md-3 col-sm-12 test1">
            	<div class="gallery-item test1">
				             <img src="image/gallery/premium.png" class="premium">
							<img src="image/gallery/Premium5.jpg" alt="gallery 4" class="bg">
							<div class="thumb_data"><span class="title"><strong><i class="fa fa-camera-retro" aria-hidden="true"></i></strong> Profile pictures</span><br>
							<span class="subtitle">5 Photos</span></div>
						</div>
            </div>
			<div class="col-md-3 col-sm-12 test1">
            	<div class="gallery-item">
				            <img src="image/gallery/premium.png" class="premium">
							<img src="image/gallery/Premium1.jpg" alt="gallery 5" class="bg">
							<div class="thumb_data"><span class="title"><strong><i class="fa fa-camera-retro" aria-hidden="true"></i></strong> Profile pictures</span><br>
							<span class="subtitle">5 Photos</span></div>
						</div>
            </div>
        </div>
		<div class="row templatemo_portfolio Premium_acc">
			<div class="col-md-3 col-sm-12 test1">
            	<div class="gallery-item">
				            <img src="image/gallery/premium.png" class="premium">
							<img src="image/gallery/Premium3.jpg" alt="gallery 5" class="bg">
							<div class="thumb_data"><span class="title"><strong><i class="fa fa-camera-retro" aria-hidden="true"></i></strong> Profile pictures</span><br>
							<span class="subtitle">5 Photos</span></div>
						</div>
            </div>
        </div>
<!-- portfolio end -->
   	 <!---footer div--> 
   	</div><!---container div-->     		  
	</div>  <!---banner sec div-->  
	
	 <div class="col-md-12 col-sm-12 footer-top gallery-footer">
		<div id="footer" class="">
			<div class="footer_top">
				<ul>
					<li><a class="footer_link" href="" target="_blank" rel="nofollow">Model Login</a></li>
					<li><a class="footer_link" href="" target="_blank" rel="nofollow">Adult Affiliate Program</a></li>
					<li><a class="footer_link" href="" target="_blank" rel="nofollow">Models Wanted</a></li>
					<li><a class="footer_link track" href="">Events and Media</a></li>
					<li><a class="footer_link track" href="">Careers</a></li>
					<li><a id="contactus_link" class="footer_link track" href="">Contact Us</a></li>
					<li><li><a href="#"><i class="fi-social-facebook"></i></a></li></li>
					<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram"></i></a></li>
					<li><a id="faq_link" class="footer_link track" href="">F.A.Q.</a></li>
					<li><a id="dmca_link" class="footer_link track" href="">DMCA Complaint</a></li>
					<li><a id="support_online_link" class="footer_link track" href="">Support</a></li>
				</ul>
			</div>
	    </div>	 
	 </div>	

    </div>	<!--  main-outerend -->	
	<script>
	jQuery(window).scroll(function(){
	var scrolltop = jQuery(window).scrollTop();
	if(scrolltop>500 && scrolltop<2230)
	{
	
	jQuery('.second_scrolling').fadeIn(5000);
	console.log("first"+jQuery(window).scrollTop());
	}
	else if(scrolltop>2230)
	{
	
	jQuery('.third_scrolling').fadeIn(1000);
	console.log(jQuery(window).scrollTop());
	}
	
	});
	</script>
  </body>
</html>