<!DOCTYPE html>
<html>
  <head>
     <title></title>
    <meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/style.css"/>
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="js/jquery.min.js"></script>
	<!--script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script-->
	
  </head>
  <body>
    <div class="main-outer">
	     <nav class="navbar" role="navigation">
		   	   <div class="container container11">
			  <!-- Brand and toggle get grouped for better mobile display -->
			  <div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				  <span class="sr-only">Toggle navigation</span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img src="image/corporate/logo.png"></a>
			  </div>

			  <!-- Collect the nav links, forms, and other content for toggling -->
			  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<div class="col-sm-3 col-md-3">
					<form class="navbar-form" role="search">
					<div class="input-group input_group">
						<input type="text" class="form-control" placeholder="Search" name="q">
					</div>
					</form>
				</div>
				<ul class="nav navbar-nav">
				  <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i></a>
					<ul class="dropdown-menu">
					  <li><a href="#">Action</a></li>
					  <li><a href="#">Another action</a></li>
					  <li><a href="#">Something else here</a></li>
					  <li class="divider"></li>
					  <li><a href="#">Separated link</a></li>
					</ul>
				  </li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
				  <li><a href="#">Live Cams</a></li>
				  <li><a href="#">Awards</a></li>
				  <li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
				  <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
				  <li><a href="#">Get Credits</a></li>
				  <li class="Login"><a href="#">Login</a></li>
				  <li class="Sign_Up"><a href="#"> Sign Up</a></li>
				</ul>
			  </div><!-- /.navbar-collapse -->
			 </div><!---container div-->
			</nav>
	    
	  <!--  header sections end -->	
	 <div class="col-md-12 col-sm-12 profile_page">	
     <div class="container">
	   <div class="row row11">
	      <div class="col-md-9 col-sm-9 video_live">
		      <iframe width="870" height="490" src="https://www.youtube.com/embed/XGSy3_Czz8k?autoplay=1">
              </iframe>
			  <div class="row row11">
			    <div class="col-md-3 col-sm-3"><button type="button" class="btn btn-danger" id="checking_wall">Checking Wall</button></div>
				<div class="col-md-6 col-sm-6"><button type="button" class="btn btn-default" id="Show">Start Private Show</button></div>
				<div class="col-md-3 col-sm-3"><button type="button" class="btn btn-danger" id="buy_credits">Buy Credits</button></div>
			  </div>
		  </div>
		  <div class="col-md-3 col-sm-3 video_righ">
		      <div class="col-md-12 col-sm-12">
			      <div class="team-member">
			       <img src="image/corporate/left-image.jpg" class="img-responsive" alt="">
				  </div>  
			  </div>
			  <div class="col-md-12 col-sm-12">
			     <div class="team-member">
			       <img src="image/corporate/left-image2.jpg" class="img-responsive" alt="">
				  </div>  
			  </div>
			  <div class="col-md-12 col-sm-12">
			     <div class="team-member">
			       <img src="image/corporate/left-image.jpg" class="img-responsive" alt="">
				  </div>  
			  </div>
			  <div class="col-md-12 col-sm-12 send">
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat">
                                Send</button>
                        </span>
                    </div>
              </div>
		  </div>
	   </div>
	   
	 <div class="col-md-12 col-sm-12 profile_wall">	
		   <div class="row row11">
			<ul class="nav nav-tabs">
				  <li class="active"><a data-toggle="tab" href="#home">Name</a></li>
				  <li><a data-toggle="tab" href="#menu1">Free Contant</a></li>
				  <li><a data-toggle="tab" href="#menu2">Premium Contant</a></li>
			</ul>
			<div class="tab-content">
				<div id="home" class="tab-pane fade in active">
					<div class="row row11">
						 <div class="col-md-4 col-sm-4">
								  <div class="col-md-6 col-sm-6 dp_profile">
								     <img src="image/corporate/img_avatar3.png" alt="Avatar" class="img-responsive img-circle" style="width:85px">
								  </div>	
                                  <div class="col-md-6 col-sm-6 dp_right">
								      <h1>*****</h1>
									  <H2>Lorem ipsum </H2>
								  </div>								  
								  <div class="col-md-12 col-sm-12 dp_text">
								    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec augue vitae ex luctus pellentesque. Duis aliquet gravida enim ac dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis nec nisl volutpat, porta risus sed, tristique elit.</p>
								  </div>
							<div class="col-md-4 col-sm-4 Name"><h4>Age</h4><h5>23</h5></div>
							<div class="col-md-4 col-sm-4 big"><h4>Big</h4><h5>Breast Size</h5></div>
							<div class="col-md-4 col-sm-4 gender"><h4>Gender</h4><h5>Female</h5></div>
						  </div>
						<div class="col-md-4 col-sm-4 img-center">
						   <img src="image/corporate11.jpg" class="img-responsive" alt=""> 
						 <div class="col-md-12 col-sm-12 screen-shot">
						    <img src="image/corporate/screen.png" class="img-responsive" alt=""> 
						 </div>
						</div>
						<div class="col-md-4 col-sm-4 free_content">
						     <div class="col-md-6 col-sm-6">
							    <img src="image/corporate/corporate34.jpg" class="img-responsive" alt="">
							 </div>
							 <div class="col-md-6 col-sm-6">
							    <img src="image/corporate/corporate34.jpg" class="img-responsive" alt="">
							 </div>
							 <div class="col-md-6 col-sm-6">
							    <img src="image/corporate/corporate34.jpg" class="img-responsive" alt="">
							 </div>
							 <div class="col-md-6 col-sm-6">
							    <img src="image/corporate/corporate34.jpg" class="img-responsive" alt="">
							 </div>
							 <div class="clear" style="clear: both;"></div>
							 <img src="image/corporate11.jpg" class="img-responsive" alt=""> 
						</div>
						 
					 </div>
				</div>
				<div id="menu1" class="tab-pane fade">
						<h3>Menu 1</h3>
						<p>Some content in menu 1.</p>
				</div>
				<div id="menu2" class="tab-pane fade">
						<h3>Menu 2</h3>
						<p>Some content in menu 2.</p>
				</div>
			</div>
		   </div>
	   </div>	   
	</div><!---container div-->     		  
	</div>  <!---banner sec div-->    
	
	   
    </div>	<!--  main-outerend -->	
	<script>
	jQuery(window).scroll(function(){
	var scrolltop = jQuery(window).scrollTop();
	if(scrolltop>500 && scrolltop<2230)
	{
	
	jQuery('.second_scrolling').fadeIn(5000);
	console.log("first"+jQuery(window).scrollTop());
	}
	else if(scrolltop>2230)
	{
	
	jQuery('.third_scrolling').fadeIn(1000);
	console.log(jQuery(window).scrollTop());
	}
	
	});
	</script>
  </body>
</html>
